@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

$green: #1bc402;

* {
  margin: 0;
  font-family: 'Montserrat';
}

a {
  text-decoration: none !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 50px;
  background-color: #58595b;
  color: white;
  text-align: center;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    gap: 20px;
  }

  a {
    color: white;
    &:hover {
      color: black;
    }
  }
  &__site {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  &__header {
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #b2b2b2;
    &.-active {
      background-color: $green;
    }
  }

  &__title {
    padding: 5px;
    color: white;
  }

  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    min-width: 300px;
  }
}

.donation {
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 30px;
  justify-content: center;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    gap: 15px;
  }

  &__image {
    max-width: 300px;
    @include media-breakpoint-up(sm) {
        max-width: 400px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.multibanner {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  @include media-breakpoint-down(md) {
    flex-direction: column;
    gap: 15px;
  }

  &__image {
    max-width: 250px;
  }
}

.transfer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

.accounts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  gap: 30px;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  .account {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__item {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
.info {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.donation-section {
  display: flex;
  margin-bottom: 60px;
  gap: 30px;
  align-items: center;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    gap: 20px;
  }

  .target {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__amount {
      color: #6c757d;
    }

    &__content {
      display: flex;
      flex-direction: column;
    }

    .target-item {
      display: flex;
      align-items: center;
      gap: 20px;
      &.-active {
        .target__circle {
          background-color: $green;
        }
        .target__amount {
          color: $green;
        }
      }
    }
    &__circle {
      border-radius: 50%;
      background-color: #b2b2b2;
      min-width: 20px;  
      min-height: 20px;
    }
  }

  .form {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    form {
      padding: 20px;
      max-width: 600px;
      width: 100%;
      button {
        background-color: #1bc403;
        color: #fff;
        font-weight: 600;
        width: 100%;
      }
    }
  }
}
.containers {
  width: 100%;
  max-width: 1400px;
  padding: 60px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
}

.footer {
  background: #000;
  position: relative;
  span {
    position: absolute;
    bottom: 10%;
    right: 50%;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    @include media-breakpoint-down(md) {
      right: 0;
      bottom: 0;
      font-size: 16px;
    }
  }
}
